force-app/main/default/flows/Create_a_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assig_Opp_info</name>
        <label>assig Opp info</label>
        <locationX>1025</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordeid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_opp_recode_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Information</name>
        <label>Assign Contact Information</label>
        <locationX>1176</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>contactRecode.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecode.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecode.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordeid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_record_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_record_to_list</name>
        <label>Assign contact record to list</label>
        <locationX>1064</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_opp_recode_to_list</name>
        <label>assign opp recode to list</label>
        <locationX>1122</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>opplist1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_counter_for_opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contact</name>
        <choiceText>Contact&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_counter</name>
        <label>Check counter</label>
        <locationX>578</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>create_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>counter_is_less_then_required_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_many_recode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contact_information</targetReference>
            </connector>
            <label>counter is less then required records</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_counter_for_opp</name>
        <label>check counter for opp</label>
        <locationX>368</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>create_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>counter_is_less_then_required_recode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_many_recode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp_info</targetReference>
            </connector>
            <label>counter is less then required recode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_object_selection</name>
        <label>Check object selection</label>
        <locationX>424</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_counter</targetReference>
            </connector>
            <label>is contact?</label>
        </rules>
        <rules>
            <name>isOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_counter_for_opp</targetReference>
            </connector>
            <label>isOpp?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>stageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create a contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a contact  opp in day 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_contacts</name>
        <label>create contacts</label>
        <locationX>610</locationX>
        <locationY>341</locationY>
        <inputReference>contactList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_opp</name>
        <label>create opp</label>
        <locationX>569</locationX>
        <locationY>698</locationY>
        <inputReference>oppList</inputReference>
    </recordCreates>
    <screens>
        <name>contact_information</name>
        <label>contact information</label>
        <locationX>981</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Information</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>object_selection</name>
        <label>object selection</label>
        <locationX>266</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_object_selection</targetReference>
        </connector>
        <fields>
            <name>Select_an_object</name>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_recode</name>
            <dataType>Number</dataType>
            <fieldText>How many recode?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>opp_info</name>
        <label>opp info</label>
        <locationX>818</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assig_Opp_info</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <dataType>String</dataType>
            <fieldText>name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>stage</name>
            <choiceReferences>stageName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>object_selection</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>oppList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opplist1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
