force-app/main/default/flows/roll_up_task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Store_thepricing_value</name>
        <label>Store thepricing value</label>
        <locationX>958</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>sumofValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_price_loseing.total_new__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_price_loseing</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>roll up task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>roll up task</label>
    <loops>
        <name>loop_over_price_loseing</name>
        <label>loop over price loseing</label>
        <locationX>494</locationX>
        <locationY>355</locationY>
        <collectionReference>allrecode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_thepricing_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_the_parent_recode</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_record</name>
        <label>get record</label>
        <locationX>382</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_price_loseing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_look_up_new__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_look_up_new__c</elementReference>
            </value>
        </filters>
        <object>risk_calculation_new__c</object>
        <outputReference>allrecode</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>total_new__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>High_Risk</name>
        <label>High Risk</label>
        <locationX>888</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_look_up_new__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Amount_look_up__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Risk_pick_list__c</field>
            <value>
                <stringValue>High Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>low_risk</name>
        <label>low risk</label>
        <locationX>579</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Medium_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_look_up_new__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Amount_look_up__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Amount_look_up__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Risk_pick_list__c</field>
            <value>
                <stringValue>Low Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Medium_Risk</name>
        <label>Medium Risk</label>
        <locationX>753</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>High_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_look_up_new__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Amount_look_up__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Amount_look_up__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Risk_pick_list__c</field>
            <value>
                <stringValue>Medium Risk</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_parent_recode</name>
        <label>update the parent recode</label>
        <locationX>643</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>low_risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_look_up_new__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Amount_look_up__c</field>
            <value>
                <elementReference>sumofValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>284</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_look_up_new__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </filters>
        <filters>
            <field>total_new__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>risk_calculation_new__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allrecode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>risk_calculation_new__c</objectType>
    </variables>
    <variables>
        <name>getallrecode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>risk_calculation_new__c</objectType>
    </variables>
    <variables>
        <name>getpriceing</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getrecode1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>risk_calculation_new__c</objectType>
    </variables>
    <variables>
        <name>getrecodenew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>risk_calculation_new__c</objectType>
    </variables>
    <variables>
        <name>getrecodevalue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>risk_calculation_new__c</objectType>
    </variables>
    <variables>
        <name>priceingvalue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>risk_calculation_new__c</objectType>
    </variables>
    <variables>
        <name>s1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>risk_calculation_new__c</objectType>
    </variables>
    <variables>
        <name>sumofValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
